.box {
  
  border: 2px solid rgb(236, 222, 222);
  height: 400px;
  width: 600px;
  margin: auto;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 20px;
}

.icons {
  height: 100px;
  width: 500px;

  margin: auto;
}
.dropDown {
  display: block;
  margin: auto;
  width: 80%;
  height: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
  cursor: pointer;
}
h1,
h2 {
  margin: auto;
  text-align: center;
}
.headingOne {
  margin-top: 20px;
}
input[type="number"] {
  display: block;
  margin: auto;
  width: 500px;
  margin-top: 20px;
  cursor: pointer;
}

.estimatedResult {
  margin: auto;
  height: 30px;
  margin-top: 40px;
}
button{
  cursor: pointer;
}
.btnParent{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.waterUsage{
  display: block;
  width:90%;
  margin: auto;
  margin-top: 30px;
}
.ctrlBtns{
 display: block; 
 margin: auto;
 text-align: center;
 margin-top: 10px;
}
